head
	script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true')
	title Nikita

body
	.navbar.navbar-default
		.container
			.navbar-brand NIKITA
			.collapse.navbar-collapse
				button(type="button" class="btn btn-primary navbar-button navbar-right" data-toggle="modal" data-target="#addBiz") ADD
	.container
		div#map-canvas
		+search
		+businesses
	+modals
