template(name="search")
	.search-container
		input(type="text", name="business", id="business-search-text")
		button(name="OK", value="Seach", class='btn btn-primary', id="business-search") SEARCH 
	table.table#business-search-result
